
@using LUT_CarSystem.Models;
@{
    Driver user = (Driver)Session["user"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 车辆租赁管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("LUT--车辆租赁管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                        <li>@Html.ActionLink("车辆基本信息", "Contact", "Home")</li>
                        <li>@Html.ActionLink("驾驶员管理", "Contact", "Home")</li>
                        <li>@Html.ActionLink("订单管理", "Contact", "Home")</li>
                        <li>@Html.ActionLink("登录", "Contact", "Home")</li>
                        <li>@Html.ActionLink("注册", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">车辆租赁管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home">主页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/Home/About">关于</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">总览 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Cars">车辆信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Drivers">租客信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Orders">订单信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://news.yhzuche.com/" target="_blank">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="/Cars">车辆信息</a></li>
                    <li><a href="/Drivers">租客信息</a></li>
                    <li><a href="/Orders">订单信息</a></li>
                    <li><a href="http://news.yhzuche.com/" target="_blank">行业新闻</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="查询">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["user"] == null)
                    {
                        <li><a href="../Login/Login">登录</a></li>
                    }@if (Session["user"] != null)
                    {
                        <li><a href="#">当前用户:@user.Name</a></li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人信息 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (Session["user"] != null)
                            {
                                <li><a href="../Login/OrderDetails">我的订单</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="../Drivers/Details/@user.DriverId">我的账户</a></li>

                            }


                            @if (Session["user"] == null)
                            {
                                <li><a href="Login/Login">登    录</a></li>
                            }

                            @if (Session["user"] == null)
                            {
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Drivers/Create?Type=Regist">注    册</a></li>
                            }


                            @if (Session["user"] != null)
                            {
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Login/Logout">退    出</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  LUT--车辆租赁管理系统</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
