@model LUT_CarSystem.Models.Driver

@{
    ViewBag.Title = "Delete";
}

<h2>用户信息删除</h2>

<h3>你确定要删除此用户的信息吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            用户名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            密码
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            性别
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            电话
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            邮箱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            权限
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index", new { }, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    }
</div>
